<!--
    Name:        Wyatt Kirschner
    Student ID:  200407722
    Course:      COMP2068
    Project:     Assignment 2

-->

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
