<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='../stylesheets/style.css'/>
    <link rel='stylesheet' href="../stylesheets/bootstrap.min.css" />
    <script src="../javascripts/bootstrap.min.js"></script>
</head>
<body>
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<img src="../images/repsychle_logo.png" height="25%" width="25%">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items">Item Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/add">Add Entry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/view">View Database</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/update">Update Database</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/delete">Delete Database</a>
        </li>
    </ul>
</nav>
{{{body}}}
</body>
</html>
