<!--
    Name:        Wyatt Kirschner
    Student ID:  200407722
    Course:      COMP2068
    Project:     Assignment 2
    Notes:       Borrowed from Tom M.
-->


<br>
<h1>Login</h1>
<br>
{{#if messages}}
    <div class="alert alert-danger">{{messages}}</div>
{{else}}
    <div class="alert alert-info">Please Enter Your Credentials </div>
{{/if}}
<form method="post">
    <fieldset class="form-group">
        <label for="username" class="col-sm-2 control-label">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <fieldset class="form-group">
        <label for="password" class="col-sm-2 control-label">Password: *</label>
        <input name="password" id="password" type="password" required />
    </fieldset>

    <button class="btn btn-success offset-2">Login</button>
    <hr />
    Need Access? <a href="register" title="Register">Register</a>
    </fieldset>
</form>