<h1>Add Items to the RePsychle Database</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-3">Name: *</label>
        <input name="name" id="name" required/>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-3">Item Description:* </label>
        <input name="description" id="description" required/>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-3">Image URL: * </label>
        <input name="image" id="image" required/>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-3">Resin ID: *</label>
        <select name="resin_id" id="resin_id" required/>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
    </select>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-3">Disposal Method: *</label>
        <select name="disposal_method" id="disposal_method" required/>
        <option>Compost</option>
        <option>Garbage</option>
        <option>Recycle</option>
        <option>Sorting Facility</option>
    </select>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-3">Eco Comment: *</label>
        <input name="eco_comment" id="eco_comment" required/>
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-3">EcoScore: *</label>
        <select name="ecoScore" id="ecoScore" required/>
        <option>VERY LOW</option>
        <option>LOW</option>
        <option>MEDIUM</option>
        <option>HIGH</option>
        <option>VERY HIGH</option>
    </select>
    </fieldset>
<button class="col-md-offset-2 btn btn-primary">Save</button>
</form>